@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul {
  margin: 0;
}

.header {
  background-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headerRateList {
  display: flex;
  justify-content: center;
}

.headerRateItem {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 500;
}

.carrencyFieldWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
